# vscode
.vscode/

# python
__pycache__/

# project folders

.ipynb_checkpoints/

# venv
test_venv/

# project files
*.pkl
*.png
*.jpg
*.pt
*.activations
*.log
*.html
*.pdf
*.xml
*.txt
*.jpg
*.json

# images for README.md
!images/*.png